:root {
  --primary-color: #ff9854;
  --line-color: #f8f9f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
  /* 全局修改vant ui的样式 */
  --van-search-left-icon-color: var(--primary-color) !important;
  --van-search-padding: 10px !important;
  --van-tabs-line-height: 50px !important;
  --van-tabs-bottom-bar-color: var(--primary-color) !important;
}

body {
  font-size: 14px;
  font-family: PingFangSC-Regular, Helvetica Neue, sans-serif;;
  background-color: #f7f8fb;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}